# Core functionality - changes here should be rare!
/src/app.py                   @Jeannalyse
/src/backend/database.py      @Jeannalyse
/src/backend/routers/auth.py  @Jeannalyse

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Jeannalyse
